---
import Map from "@/components/astro/Map.astro";
import TrackEditor from "@/components/astro/TrackEditor.astro";
---

<html>
    <head>
        <title>Track Viewer</title>
    </head>
    <body class="flex">
        <!-- Track Editor -->
        <div class="w-1/4">
            <TrackEditor />
        </div>

        <!-- Map -->
        <div class="">
            <Map />
        </div>
    </body>
</html>

<style>
    body {
        height: 100vh;
    }
</style>
