---
import MapView from "./MapView";
---

<div id="map-container" class="h-full">
    <MapView client:load />
</div>

<style>
    #map-container {
        height: 100vh;
        width: 100vw;
    }
</style>
